.movie-section {
	display: flex;
}

.card {
	width: 100px;
}

video {
	width: 100%;
}

.more-button {
	width: 100px;
	height: 100px;
	background: red;
}

.page-end {
	width: 100%;
	height: 300px;
	background: blue;
}
